body{
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071c4d;
}
.navbar-brand{
    img{
        max-height: 40px;
    }
   
}
.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #071c4d;
            &.active{
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}
.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -32px !important;
    height: 70px;
    border-radius: 0;
}
.btn-login{
    background-color: #071c4d;
    color: #fff;
    &:hover{
        background-color: #0f2966;
        color: #fff;
    }
}

// header
header{
    padding: 180px 0 165px;
    background-image: url('../images/header.jpg');
    background-size: cover;
    margin-top: -70px;

    h1,p{
        color: #fff;
    }

    h1{
        font-family: 'Playfair Display',sans-serif;
        font-size: 50px;
        font-weight: bold;
    }

    p{
        font-size: 22px;
    }

    .btn-get-started{
        background-color: #FF9E53;
        color: #fff;
        &:hover{
            background-color: rgb(238, 173, 123);
            color: #fff;
        }
    }
}

// statistic
.section-stats{
    margin-top: -50px;
    .stats-detail{
        padding-top: 15px;
        background-color: #fff;
        padding-left: 40px;
    }
    h2{
        font-size: 30px;
        margin-bottom: 0;
    }
    p{
        font-size: 22px;
        font-weight: lighter;
    }
}

.section-popular{
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;
    .section-popular-heading{
        margin-top: 150px;

        h2,p{
            color: #fff;
        }
        h2{
            font-family: 'Playfair Display',sans-serif;
            font-size: 40px;
            font-weight: bold;
        }
        p{
            font-size: 18px;
        }
    }
}

.section-popular-content{
    .section-popular-travel{
        .card-travel{
            min-height: 380px;
            background-color: #000;
            color: #fff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country{
            font-size: 18px;
            color: #fff;
        }
        .travel-location{
            font-size: 26px;
            color: #fff;
        }
        .travel-button{
            .btn-travel-details{
                background-color: #FF9E53;
                color: #fff;

                &:hover{
                    background-color: rgb(240, 172, 120);
                    color: #fff;
                }
            }
        }
    }
}

.section-networks{
    background-color: #fff;
    margin-top: -170px;
    padding-top: 200px;
    padding-bottom: 50px;
    h2{
        font-size: 40px;
        font-family: 'Playfair Display',sans-serif;
        font-weight: bold;
    }
    p{
        font-size: 18px;
    }
    img{
        max-width: 100%;
    }
}
.section-testimonials{
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding: 50px;
    min-height: 506px;
    h2{
        font-family: 'Playfair Display',sans-serif;
        font-size: 40px;
        font-weight: bold;
    }
    p{
        font-size: 18px;
    }

}
.section-testimonial-content{
    margin-top: -300px;
    padding-bottom: 50px;
    .card-testimonial{
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
        .testimonial-content{
            min-height: 280px;
        }
        h3{
            font-size: 22px;
            font-weight: bold;
        }
        .testimonial{
            min-height: 160px;
            font-size: 26px;
            font-weight: 200;
            color: #6E6E6E;

        }
        .trip-to{
            font-size: 22px;
            color: #6E6E6E;
        }
    }
    .btn-need-help{
        background-color: #F2F2F2;
        color: #C3C3C3;
        font-size: 20px;
        &:hover{
            background-color: rgb(243, 243, 243);
            color: #C3C3C3;
        }
    }
    .btn-get-started{
        background-color: #FF9E53;
        color: #fff;
        font-size: 20px;
        &:hover{
            background-color: rgb(255, 188, 137);
            color: #fff;
        }
    }
}

.section-footer{
    a{
        color: #071C4D;
        font-size: 18px;
    }
}


// pages details

// section details header
.section-details-header{
    min-height : 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
}
.section-details-content{
    margin-top: -200px;
    min-height: 100vh;
    .breadcrumb{
        padding: 0;
        margin-bottom:30px ;
        background-color: transparent;
        .breadcrumb-item{
            &.active{
                font-weight: bold;
                color: #071C4D;
            }
        }
    }
    .card-details{

        padding: 30px;
        border-radius: 11px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        h1{
            font-size: 26px;
        }
        h2{
            font-size: 20px;
        }
        h3{
            
            font-weight: 600;
            font-size: 14px;
           
        }
        p{
            font-size: 17px;
            font-weight: lighter;
            color: #B1B1B1;
        }
        .gj-datepicker{
            .datepicker{
                border-right: 0;
            }
        }
        .input-group-append{
            .btn{
                padding-right: 30px;
                img{
                    height: 20px;
                }
            }
        }
        .btn-add-now{
            background-color: #071C4D;
            color: #fff;
            border-radius: 4px;

            &:hover{
                background-color: rgb(20, 59, 151);
                color: #fff;
            }
        }
        .disclaimer{
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;
        }
        .trip-informations{
            th{
                font-weight: 300;
                font-size: 18px;
                color: #071C4D;
            } 
            td{
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            } 
        }

        .payment-instruksi{
            font-weight: 300;
            font-size: 17px;
            text-align: left;
            color: #b1b1b1;
        }
        .bank{
            .bank-item{
                .bank-image{
                    width: 45px;
                    height: 45px;
                    float: left;
                }
                .deskripsi-bank{
                    float: left;
                    margin-left: 10px;
                    h3{
                        color: #071C4D;
                    }
                    p {
                        color: #071C4D;
                    }
                }
            }
        }
    }
    .features{
        margin-top: 20px;
        h3{
            font-size: 18px;
            color: #071C4D;
            margin-bottom: 0;
        }
        p{
            margin-bottom: 0;
        }
        .description{
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }
        .features-image{
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery{
        .xzoom-container{
            display: block;
        }
        .xzoom{
            width: 100%;
            box-shadow: none;
            margin-bottom: 10px;
        }
        .xactive{
            border: 4px solid #1abc9c;
            box-shadow: none;
        }
    }

    .members{
        member-image{
            width: 40px;
            height: 40px;
        }
    }
    .join-container{
        margin-top: -16px;
    }
    .btn-join-now{
        background-color: #FF9E53;
        color: #fff;
        &:hover{
            background-color: rgb(238, 173, 123);
            color: #fff;
        }
    }
}

.section-success{
    height: 90vh;
    h1{
        font-family: Assistant;
        font-weight: 600;
        font-size: 26px;
        text-align: center;
        color: #071c4d;
    }
    p{
        font-family: Assistant;
        font-weight: 300;
        font-size: 17px;
        text-align: center;
        color: #b1b1b1;        
    }
    .homepage{
        background-color: #071C4D;
        color: #fff;
        border-radius: 4px;
        &:hover{
            background-color: rgb(77, 126, 241);
            color: #fff;
        }
    }
}

